.button-primary {
    background: var(--azul-nuevo);
    color: var( --san-fernando-blanco);
    border-radius: 6px;
    width: 240px;
    height: 56px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}