.myswiper__slider {

    .discount__section--slide{
        width: 362px;
        text-align: center;

        h2{
            color: var(--azul-nuevo);
            font-size: 32px;
            font-weight: 700;
        }

        img{
            margin: 1rem 0 2rem;
        }

        p{
            margin-top: 1.5rem;
            color: var(--textos-gris-text);
            font-size: 18px;
            font-weight: 600;
        }
    }

    .swiper-button-prev, .swiper-button-next{

        &:after{
            display: block;
            color: var(--azul-nuevo);
        }
    }
}

  /* ===================== MEDIA QUERIES (SMALL DEVICES) ===================== */
  @media screen and (max-width: 600px) {

    .myswiper__slider {

        .swiper-slide{
            display: flex;
            justify-content: center;
        }

        .swiper-pagination-bullet{
            display: none;
        }

        
        
    }
    
      
  }