.mySwiper__slider--tech{

    .swiper-zoom-container{
        justify-content: space-between;
        column-gap: 9.3rem;

        .swiper__zoom--left{
            text-align: left;

            h2{
                margin: 21px 0;
                color: var(--rojo-nuevo);
                font-size: 32px;
                font-weight: 700;
            }

            p{
                width: 495px;
                margin-bottom: 2rem;
            }
        }
    }

    .swiper-pagination-bullet{
        width: 15px;
        height: 15px;
        background: var(--gris-sf);
        opacity: inherit;
        border: 1px solid var(--gris-sf);
    }

    .swiper-pagination-bullet-active{
        background: var(--azul-nuevo);
        border: 1px solid var(--azul-nuevo);
        border-radius: 8px;
    }

    .swiper-pagination {
        text-align: left;
        bottom: 4rem;
    }

    .swiper-button-disabled {
        opacity: 0;
    }

    .swiper-button-prev{

        &:after{
            display: none;
        }
    }
}

  /* ===================== MEDIA QUERIES (SMALL DEVICES) ===================== */
  @media screen and (max-width: 600px) {

    .mySwiper__slider--tech{

        .swiper-zoom-container{

            .swiper__zoom--left{
                display: grid;
                justify-items: center;

                h2{
                    margin: 1rem 0;
                }

                p{
                    width: 70%;
                    margin-bottom: 2rem;
                    text-align: center;
                }
            }

            .swiper__zoom--right{
                display: none;
            }

        }

        .swiper-pagination {
            display: none;
        }

        .swiper-button-prev, .swiper-button-next{

            &:after{
                display: block;
                color: var(--azul-nuevo);
            }
        }


    }

      
  }