/* ===================== AJUSTES GENERALES ===================== */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none; 
    list-style: none;
  }
  
  :root {
    --azul-nuevo: #1A36A8;
    --rojo-nuevo: #D43E36;
    --textos-gris-text: #595959;
    --gris-sf: #B7B1A9;
    --rojo-sf: #C12A21;
    --fucsia-sf: #DB0FA8;
    --azul-sf: #003383;
    --san-fernando-blanco: #FFFFFF;
    --color-negro: #000000;

    --contenedor-desktop: 1310px;
    --contenedor-celular: 90%;
    --contenedor-tablet: 86%;
  }
  
  html {
    scroll-behavior: smooth; /*Evita los cambios bruscos entre secciones al hacer scroll*/ 
  }
  
  body {
    font-family: 'Open Sans', sans-serif;
  }

  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none; 
      margin: 0; 
  }

