.header{
    background-color: var(--azul-nuevo);
    height: 117px;
    display: flex;
    align-items: center;

    &__section{
        width: var(--contenedor-desktop);
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }

}
    