.header{
    background-color: var(--azul-nuevo);

    &__section{
        padding: 1.5rem 0;
        width: var(--contenedor-desktop);
        margin: 0 auto;
        display: flex;
        justify-content: center;

    }

}
    